h2 {
  margin-top: 0;
}
a {
  color:inherit;
  text-decoration: none;
}
footer {
  color: #808080;
}
.card {
  height: 150px;
  width: 100px;
  /*float: left;*/
  margin: 5px;
  padding: 0;
}
.board {
  margin: 0 auto;
}
.front {
  height: 100%;
  width: 100%;
  /*position: absolute;*/
  background-size: cover;
  z-index: 1;
}
.back {
  height: 100%;
  width: 100%;
  /*position: absolute;*/
  /*background: url("../img/card-back.png");*/
  background: red;
  background-size: cover;
  z-index: 2;
}
.modal {
  text-align: left;
}
.navbar-default .navbar-brand {
  font-family: 'Pacifico', cursive;
  color: teal;
}
